---
layout: page
title: Category
permalink: /category/
---
  
<table width=800>
	<!-- ML, AI -->
	<tr><td colspan=3>&nbsp;</td></tr>
	<tr><td colspan=3>ML, AI</td></tr>
	{% for post in site.categories.ML_AI %}
	<tr><td>&nbsp</td>
	    <td><li><a href="{{ post.url }}">{{ post.title }}</a></li> </td>
	    <td>{{ post.date | date: '%B %d, %Y' }}</td></tr>
	{% endfor %}

	<!-- NLP -->
	<tr><td colspan=3>&nbsp;</td></tr>
	<tr><td colspan=3>NLP</td></tr>
	{% for post in site.categories.NLP %}
	<tr><td>&nbsp</td>
	    <td><li><a href="{{ post.url }}">{{ post.title }}</a></li> </td>
	    <td>{{ post.date | date: '%B %d, %Y' }}</td></tr>
	{% endfor %}
		
	<!-- Tools -->
	<tr><td colspan=3>&nbsp;</td></tr>
	<tr><td colspan=3>Tools</td></tr>
	{% for post in site.categories.Tools %}
	<tr><td>&nbsp</td>
	    <td><li><a href="{{ post.url }}">{{ post.title }}</a></li> </td>
	    <td>{{ post.date | date: '%B %d, %Y' }}</td></tr>
	{% endfor %}
		
	<tr><td colspan=3>&nbsp;</td></tr>
	<tr><td colspan=3>IT Market</td></tr>
	{% for post in site.categories.ITMarket %}
	<tr><td>&nbsp;</td>
	    <td><li><a href="{{ post.url }}">{{ post.title }}</a></li> </td>
	    <td>{{ post.date | date: '%B %d, %Y' }}</td></tr>
	{% endfor %}
	
	
</table>



